h2 {
    color:Yellow;
}

p{
    color:greenyellow;
}

li{
    list-style-type:square;
}

p#special{
    color:blueviolet;
    font-weight: bolder;
}



h3+p
{
    color:crimson;
}